@model List<Transaction>

@{
    ViewData["Title"] = "All Penalties";
}

<!DOCTYPE html>
<html>
<head>
    <title>@ViewData["Title"]</title>
    <link rel="stylesheet" type="text/css" href="~/css/site.css">
    <style>
        table {
            width: 100%;
            border-collapse: collapse;
        }
        
        th, td {
            padding: 8px;
            text-align: left;
            border-bottom: 1px solid #ddd;
        }
    </style>
</head>
<body>
    <h1>Transaction Penalties</h1>

    <table>
        <tr>
            <th>Transaction ID</th>
            <th>Place of Holding Tech Number</th>
            <th>ISIN</th>
            <th>Security Quantity</th>
            <th>Transaction Type Code</th>
            <th>Instruction Type Code</th>
            <th>Matching Reference</th>
            <th>Settlement Date</th>
            <th>Settlement Cash Amount</th>
            <th>Calendar ID</th>
            <th>Party ID</th>
            <th>Counter Party ID</th>
            <th>Party Role Code</th>
            <th>Counter Party Role Code</th>
            <th>Failing Party Role Code</th>
            <th>Penalty Amount</th>
            <th>Sign</th>
            
        </tr>
        @foreach (var transaction in Model)
        {
            <tr>
                <td>@transaction.TransactionId</td>
                <td>@transaction.PlaceOfHoldingTechNumber</td>
                <td>@transaction.Isin</td>
                <td>@transaction.SecurityQuantity</td>
                <td>@transaction.TransactionTypeCode</td>
                <td>@transaction.InstructionTypeCode</td>
                <td>@transaction.MatchingReference</td>
                <td>@transaction.SettlementDate</td>
                <td>@transaction.SettlementCashAmount</td>
                <td>@transaction.CalendarId</td>
                <td>@transaction.PartyId</td>
                <td>@transaction.CounterPartyId</td>
                <td>@transaction.PartyRoleCd</td>
                <td>@transaction.CounterPartyRoleCd</td>
                <td>@transaction.FailingPartyRoleCd</td>
                <td>@transaction.PenaltyAmount</td>
                <td>@transaction.Sign</td>
                
            </tr>
        }
    </table>
</body>
</html>



